---
layout: archive
---

<div class="author__info-grid">
  <span style="grid-area: a; justify-self: center;">
    <i class="far fa-calendar" aria-hidden="true"></i>
    <small>{{ page.date | date_to_string }}</small>
  </span>
  <span style="grid-area: b; justify-self: center;"> | </span>
  <span style="grid-area: c; justify-self: center;">
    <i class="far fa-clock" aria-hidden="true"></i>
    <small>{% include read-time.html %}</small>
  </span>
</div>
<hr>

<div style="margin-bottom: 30px;">
  <i class="fas fa-tags" aria-hidden="true" style="margin-right: 5px; vertical-align: middle;"></i>
  {% for tag in page.tags %}
      <span class="page__tag">{{ tag }}</span>
  {% endfor %}
</div>

{{ content }}

<ul class="taxonomy__index">
  {% assign postsInYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
  {% for year in postsInYear %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign postsByYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for post in year.items %}
        {% include archive-single.html type=page.entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
